@use "variables" as *;

@each $key, $value in $colors {
  .text-#{$key} {
    color: $value
  }
  .bg-#{$key} {
    background-color:  $value;
  }

// light variants 

@for $i from 1 through 9 {
  .text-#{$key}-light-#{$i} {
    color: mix(white, $value, $i * 10 );
  }
}
@for $i from 1 through 9 {
  .bg-#{$key}-light-#{$i} {
    background-color: mix(white, $value, $i * 10);
  }
}

// dark variants 


 
}